html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body
{
	background-color:#FFF;
	color:#000;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

#header
{
	background-color:#99F;
	color:#FFF;
	padding:0.5em;
}

h1
{
	font-size:1.2em;
}

h1 span
{
	font-size:0.6em;
	font-style:italic;
}

.lists
{
	background-color:#CCF;
	padding-left:0.5em;
}

.lists li
{
	color:#000;
	float:left;
	padding:0.2em 0.4em;
	margin:0.4em 0.4em 0.05em 0;
	background-color:#EEF;
	-webkit-border-top-left-radius:0.4em;
	-webkit-border-top-right-radius:0.4em;
	-moz-border-radius-topleft:0.4em;
	-moz-border-radius-topright:0.4em;
}

.lists li.active,.lists li:hover
{
	background-color:#FFF;
	margin:0.45em 0.4em 0 0;
}

.lists li.addlist
{
	margin:0.4em 0.4em 0.05em 0;
}

.lists a
{
	text-decoration:none;
	color:#99F;
}

.lists li.addlist
{
	background-color:transparent;
	padding:0.1em;
}

.lists li.addlist a
{
	color:#EEF;
	font-size:0.8em;
}

.lists li.addlist a:hover
{
	text-decoration:underline;
}


.lists:after,.box li:after,#content:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content
{
	background-color:#FFF;
	padding:0 0.5em 1em 0.5em;
}

.box
{
	background-color:#CCF;
	margin:1em 0.5em 0 0.5em;
	padding-bottom:0.6em;
	-webkit-border-top-left-radius:0.4em;
	-webkit-border-top-right-radius:0.4em;
	-moz-border-radius-topleft:0.4em;
	-moz-border-radius-topright:0.4em;
	-webkit-border-bottom-left-radius:0.4em;
	-webkit-border-bottom-right-radius:0.4em;
	-moz-border-radius-bottomleft:0.4em;
	-moz-border-radius-bottomright:0.4em;
}

.box h2
{
	color:#000;
	padding:0.4em;
}

.box p,.box li
{
	padding:0.4em;
	background-color:#EEF;
}

.box li
{
	border-bottom:0.1em solid #CCF;
}

.col
{
	float:left;
}

.width100
{
	width:100%;
}

.width50
{
	width:50%;
}

.width33
{
	width:33.3%;
}

.width66
{
	width:66.6%;
}

.width25
{
	width:25%;
}

.small .box h2,.small .box p,.small .box li
{
	font-size:0.8em;
}

.box .currenttask
{
	text-align:center;
	font-size: 2em;
}

.box .question
{
	text-align:center;
	line-height:2;
}

.box .question a
{
	text-decoration:none;
	font-weight:bold;
	background-color:#99F;
	color:#FFF;
	padding:0.2em;
	-webkit-border-top-left-radius:0.4em;
	-webkit-border-top-right-radius:0.4em;
	-moz-border-radius-topleft:0.4em;
	-moz-border-radius-topright:0.4em;
	-webkit-border-bottom-left-radius:0.4em;
	-webkit-border-bottom-right-radius:0.4em;
	-moz-border-radius-bottomleft:0.4em;
	-moz-border-radius-bottomright:0.4em;
}

.annotations
{
	font-size:0.8em;
	color:#66A;
	line-height:1.2;
}

li .annotations
{
	float:right;
}

html, body, #main {height: 100%;}

body > #main {height: auto; min-height: 100%;}

#content {padding-bottom: 3em;}  /* must be same height as the footer */


#footer {
	position: relative;
	overflow:hidden;
	line-height:2em;
	margin-top: -2em; /* negative value of footer height */
	height: 2em;
	clear:both;
	background-color:#99F;
	color:#FFF;
	background-repeat:repeat-x;
	background-position:0 50%;
	width:100%;
} 

#footer p
{
	text-align:center;
	font-size:0.8em;
}

#footer a
{
	text-decoration:none;
	color:#DDF;
}

#footer a:hover
{
	text-decoration:underline;
}

#header #menu
{
	position:absolute;
	top:0;
	right:0;
}

#header #menu li
{
	padding:0.5em;
}

#header #menu a
{
	text-decoration:none;
	color:#CCF;
}

#header #menu a:hover
{
	text-decoration:underline;
}